
<html>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
<script>
function downloadRoute(Url)
{
    var xmlHttp = new XMLHttpRequest();
    xmlHttp.open("GET", Url, true); // true for asynchronous 
    xmlHttp.send(null);
}
</script>
<body>
	Select route to download <br>
  {% for route in route_list %}


   <a href=route/{{route}}>{{route}}</a>



   {% endfor %}
   <br>
 	Select difference  to download <br>
  {% for difference in difference_list %}


   <a href=difference/{{difference}}>{{difference}}</a>



   {% endfor %}

</body>
</html>