<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>Cycle Networks Tool</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
    <link rel="stylesheet" href="https://openlayers.org/en/v4.2.0/css/ol.css" type="text/css">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'brumob/style.css' %}"/>
</head>
<body>

<div class="container-fluid">

    <div class="row">

        <div class="col-sm-2">
            <h1>Welcome!</h1>

            <p>To the cycle networks tool made by the students of <a href="http://2017.summerofcode.be">open Summer of
                code 2017</a>.</p>

            <p>There are 3 types of possible outputs:</p>
            <ul>
                <li style="color: #13cd00">Correct</li>
                <li style="color: #ffa000">Geometric difference or tagging issues</li>
                <li style="color: #f40500">Completely missing</li>
            </ul>

            <p>Watch out for <strong>false positives</strong> and missing routes might be present but with the wrong
                <em>operator</em>, <em>network</em> or <em>ref</em> tag.</p>

            <p>The routes provided by Brussels Mobility and the output of our tool is available to download below:</p>

            <div class="row">

                <div class="col-sm-6 dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Routes<span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu scrollable-menu">
                        {% for route in route_list %}
                            <li>
                                <a href="data/route/{{ route }}.geojson">{{ route }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>

                <div class="col-sm-6 dropdown">
                    <button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">
                        Output<span class="caret"></span>
                    </button>

                    <ul class="dropdown-menu scrollable-menu">
                        {% for output in route_list %}
                            <li>
                                <a href="data/output/{{ output }}.geojson">{{ output }}</a>
                            </li>
                        {% endfor %}
                    </ul>
                </div>
            </div>

            <br>

            <p>The source code is available <a href="https://github.com/oSoc17/rideaway-data">here</a>.</p>

        </div>

        <!-- map -->
        <div class="col-sm-10" style="background-color:lavender;">

            <div id="map" class="map">
                <select id="baselayers" autocomplete="off">
                    <option value="opencycle">OpenCycleMap</option>
                    <option value="osmbe" selected="selected">OpenStreetMap Belgium</option>
                    <option value="osmbe-fr">OpenStreetMap Belgium (fr)</option>
                    <option value="osmbe-nl">OpenStreetMap Belgium (nl)</option>
                    <option value="osmbe-de">OpenStreetMap Belgium (de)</option>
                </select>

                <select id="layers" autocomplete="off">
                    <option value="all" selected="selected">All</option>
                </select>

                <div id="layer-type" class="overlay">
                    <input type="checkbox" value="route" class="type-checkbox" id="bm" autocomplete="off">Brussels Mobility route<br>
                    <input type="checkbox" value="output" class="type-checkbox" id="out" autocomplete="off" checked>Comparison output<br>
                </div>
            </div>

            <div id="popup" class="ol-popup">
                <a href="#" id="popup-closer" class="ol-popup-closer"></a>
                <div id="popup-content"></div>
            </div>

        </div>
    </div>
</div>

<script src="https://code.jquery.com/jquery-3.2.1.min.js"
        integrity="sha256-hwg4gsxgFZhOsEEamdOYGBf13FyQuiTwlAQgxVSNgt4=" crossorigin="anonymous"></script>
<script src="https://openlayers.org/en/v4.2.0/build/ol.js" type="text/javascript"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/proj4js/2.4.3/proj4.js"
        integrity="sha256-2ywP8gZSxQqabTEhcw+Xc3zpb/n6aAc3D0sneTtRNHw=" crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>

<script>
    const routes = {{ routes | safe }};
    const routes_src = "{% static 'brumob/data/routes' %}/";
    const output_src = "{% static 'brumob/data/output' %}/";
</script>
<script src="{% static 'brumob/script.js' %}"></script>

</body>
</html>
